* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*=========================================================================================================
--
<<<<<<< styles/style.css
==========================================================================================================*/
footer {
  width: 80%;
  margin: 50px auto;
  background-color: lightgray;
  border: solid 1px black;
  border-radius: 30px;
  padding: 20px 40px;
}
footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
footer ul li {
  color: red;
  border: solid 1px gray;
  padding: 10px 20px;
  border-radius: 30px;
}/*# sourceMappingURL=style.css.map */

nav:hover{
  display: flex;
  flex-direction: row;
  background-color: orangered;
  justify-content: right;
  transition-property: width 1000px;
  transition-duration: 3s;
  transition-timing-function: linear;
  
}

nav li{
  display: inline-block;
  padding: 20px;
}

/*=========================================================================================================
--
==========================================================================================================*//*# sourceMappingURL=style.css.map */


/* Nav */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
}

.navlist {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style: none;

}

.navlist ul li a {
  text-decoration: none;
}

