

*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}


/*=========================================================================================================
--
==========================================================================================================*/


footer{
    width: 80%;
    margin: 50px auto;  

    background-color: lightgray;
    border : solid 1px black;
    border-radius: 30px;
    padding: 20px 40px;
    
    ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    list-style: none;
    li{
        color: red;
           border : solid 1px gray;
           padding: 10px 20px;
           border-radius: 30px;
    }
    }
}